@import "tailwindcss";

@theme {
  --color-primary: #2845D6;
  --color-primary-light: #3d5ae6;
  --color-primary-dark: #1e35b0;
  --font-family-heebo: "Heebo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: #f8fafc;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}